form{
    display: flex;
    flex-direction: column;
    border:1px solid #DCDCDC;
    width: 500px; 
    height: 350px;
    box-shadow: 3px 3px 2px #D3D3D3;  
}

.Sing-up-inputs {
    margin: 10px;
    width: 170px;
    height: 50px;
    background-color: #F5F5F5;
    color:#778899;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 150px;
    
 }
 
 .Sing-up-inputs:focus {
     background-color:#D3D3D3;
  }
 
 .Sing-up-inputs::placeholder{
    color:black;
    opacity: 0.3; 
 }

 span{
     color:red;
     font-size: 15px;
     padding-left: 15px;
     margin-left: 150px;
    
 }


.Sing-up-button{
    background-color: #C0C0C0;
    color: #778899;
    width: 100px;
    height: 40px;
    margin: 60px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 180px;
}

.Sing-up-button:hover{
    background-color: #778899;
    color:  #C0C0C0;
}

