.auto0Login{
    background-color: #C0C0C0;
    color: #778899;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer; 
}

.auto0Login:hover{
    background-color: #778899;
    color:  #C0C0C0;
}

.auto0LogOut{
    background-color: #C0C0C0;
    color: #778899;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
      
}

.auto0LogOut:hover{
    background-color: #778899;
    color:  #C0C0C0;
}

.profile{
    width: 150px;
    height: 120px;
    margin: 15px;
}

.profile-img{
    width: 50px;
}

.profileImg, .profileimg{
    font-size: 15px;
}